body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#map {
  height: calc(100vh - 60px);
  width: 100%;
}

.legend {
  background: white;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

.legend h4 {
  margin: 0 0 8px 0;
  font-size: 14px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.legend-box {
  width: 12px;
  height: 12px;
  margin-right: 6px;
  display: inline-block;
}

.legend {
  transform: scale(0.85);
  transform-origin: bottom right;
}

.leaflet-control-layers {
  transform: scale(0.85);
  transform-origin: top right;
}

.filterDiv {
  display: flex;
  gap: 20px;
}

.filters {
  display: flex;
  //justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
}

.filterElement {
  margin: 0px 5px;
}
